.contactsColor{
    color: #2c3e50;
}


.svgSize{
    width: 12%;
    height: 12%;
    color: #2c3e50;
}


.whiteLine{
    height: 7px;
    
    background-color: #2c3e50;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
