.svgSize{
    width: 12%;
    height: 12%;
    color: #2c3e50;
}


.whiteLine{
    height: 7px;
    
    background-color: #2c3e50;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


.mainColor{
    color: #2c3e50;
}


.imageHolder{
     position: relative;
     cursor: pointer;

}

.imageHolder::after{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '+';
    font-size: 100px;
    color: white;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1abc9cd3 ;
    z-index: 1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

 .imageHolder:hover::after{
    opacity: 1;
    z-index: 3;
}

.imageHolder img{
    max-width: 100%;
    width: 100%;

}